* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
body {
	background-image: url('./img/bg.png');
	background-size: cover;
}
.containers {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	gap: 3rem;
}
.container {
	display: flex;
	justify-content: center;
	gap: 1rem;
}
h1 {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
button {
	height: 3rem;
	width: 10rem;
	border-radius: 10px;
	border: none;
	background-color: #f2ac0e;
	color: white;
	font-weight: 600;
	transition: 0.5s;
	cursor: pointer;
}
button:hover {
	transform: scale(1.1);
}
/* стили птиц */
.pigeon,
.hawk {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: white;
}
.moduleWindow {
	font-family: Arial, Helvetica, sans-serif;
	display: none;
	position: absolute;
	width: 33rem;
	gap: 2rem;
	height: 30rem;
	border-radius: 10px;
	background-color: white;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	
}
.moduleWindow>input{
	border: none;
	border-bottom: 1px solid ;
}
.moduleWindow>input:focus{
	border-bottom-color: #FF8000;
}
