 body {
      height: 100vh;
      margin: 0;
      overflow: hidden;
      background-image: url('./img/bg.png');
	  background-size: cover;
      position: relative;
    }
    .bird {
      position: absolute;
      width: 40px;
      transition: transform 0.05s linear;
      pointer-events: none;
    }
	.containers{
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		gap:1rem;
		flex-direction: column;
	}
	h1{
		color: white;
	}
	.container{
		display: flex;
		
		gap: 1rem;
		align-items: center;
		justify-content: center;
	}
	button{
		background-color: #ff8000;
		border: none;
		width: 10rem;
		height: 3rem;
		border-radius: 10px;
		color: white;
	}
	.modal-footer{
		display: flex;
		justify-content: center;
	}