.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-image: url('/image/bg.png');
  background-size: cover;
  min-height: 100vh;
}

.controls {
  margin: 10px;
}
@media (max-width: 990px) {
  .app{
    width: 39rem;
    height: 85rem;
  }
}
