.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-image: url("/image/bg.jpg");
  background-size: 80rem 37rem;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.controls {
  margin: 10px;
}


@media screen and (min-width: 900px) and (min-height: 600px){
  .app {
   width: 1920px;
  background-size: 100% 100%;
  }
}