.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}




.simulation-canvas {
  width: 1422px;
  height: 585px;
}
@media (max-width: 990px) {
  .simulation-canvas{
    width: 36rem;
    height: 78rem;
  }
}
