@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}


/* CANVAS_WIDTH: 1280, // Ширина холста
    CANVAS_HEIGHT: 450, // Высота холста */
.bird-counter {
  display: flex;
  align-items: center;
  width: 45rem;
  gap: 1rem;
  height: 2rem;
  margin-top: 1rem;
  background-color: #0093e3;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  box-shadow: 5px 4px 5px gray;
}
.hawk,
.dove {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 7rem;
  padding: 3px;
  height: 2rem;
}

canvas{
  width: auto;
  height: auto;
}

p{
    font-size: 12px;
  }

@media screen and (min-width: 900px) and (min-height: 600px){
  canvas{
    width: 1920px;
    height: 820px;
  }
}
