@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.bird-counter {
  display: flex;
  align-items: center;
  width: 45rem;
  gap: 1rem;
  height: 2rem;
  margin-top: 1rem;
  background-color: #0093e3;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  box-shadow: 5px 4px 5px gray;
}
.hawk,
.dove {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 7rem;
  padding: 3px;
  height: 2rem;
}

p{
    font-size: 12px;
  }

.simulation-canvas {
  width: 1422px;
  height: 585px;
}
@media (max-width: 990px) {
  .simulation-canvas {
    width: 36rem;
    height: 78rem;
  }
}
